In [5]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [6]:
# Load the training dataset

df_train = pd.read_csv('data/train.csv', dtype={'id': np.int16, 'target': np.int8})
df_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [7]:
df_train.tail()

,id,keyword,location,text,target
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [8]:
# Training Data Column headers
df_train.columns

Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')

In [9]:
# Load the test dataset

df_test = pd.read_csv('data/test.csv', dtype={'id': np.int16})
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [10]:
df_test.tail()

,id,keyword,location,text
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [11]:
# Test Data Column headers
df_test.columns

Index(['id', 'keyword', 'location', 'text'], dtype='object')

In [12]:
# Training Data Shape and Memory Size

print('Training Set Shape = {}'.format(df_train.shape))
print('Training Set Memory Usage = {:.2f} MB'.format(df_train.memory_usage().sum() / 1024**2))

Training Set Shape = (7613, 5)
Training Set Memory Usage = 0.20 MB

In [13]:
# Test Data Shape and Memory Size

print('Test Set Shape = {}'.format(df_test.shape))
print('Test Set Memory Usage = {:.2f} MB'.format(df_test.memory_usage().sum() / 1024**2))

Test Set Shape = (3263, 4)
Test Set Memory Usage = 0.08 MB

In [14]:
# Obviously no relationship between target and ID
# Other columns don't predict because they are in text format. 

df_train.groupby('target').hist()

target
0    [[AxesSubplot(0.125,0.11;0.775x0.77)]]
1    [[AxesSubplot(0.125,0.11;0.775x0.77)]]
dtype: object

In [15]:
# Just for reference from my other code

for col in list(df_train):
    print(col)
    print(df_train[col].unique())

id
[    1     4     5 ... 10871 10872 10873]
keyword
[nan 'ablaze' 'accident' 'aftershock' 'airplane%20accident' 'ambulance'
 'annihilated' 'annihilation' 'apocalypse' 'armageddon' 'army' 'arson'
 'arsonist' 'attack' 'attacked' 'avalanche' 'battle' 'bioterror'
 'bioterrorism' 'blaze' 'blazing' 'bleeding' 'blew%20up' 'blight'
 'blizzard' 'blood' 'bloody' 'blown%20up' 'body%20bag' 'body%20bagging'
 'body%20bags' 'bomb' 'bombed' 'bombing' 'bridge%20collapse'
 'buildings%20burning' 'buildings%20on%20fire' 'burned' 'burning'
 'burning%20buildings' 'bush%20fires' 'casualties' 'casualty'
 'catastrophe' 'catastrophic' 'chemical%20emergency' 'cliff%20fall'
 'collapse' 'collapsed' 'collide' 'collided' 'collision' 'crash' 'crashed'
 'crush' 'crushed' 'curfew' 'cyclone' 'damage' 'danger' 'dead' 'death'
 'deaths' 'debris' 'deluge' 'deluged' 'demolish' 'demolished' 'demolition'
 'derail' 'derailed' 'derailment' 'desolate' 'desolation' 'destroy'
 'destroyed' 'destruction' 'detonate' 'detonation' 'devastated'
 'devastation' 'disaster' 'displaced' 'drought' 'drown' 'drowned'
 'drowning' 'dust%20storm' 'earthquake' 'electrocute' 'electrocuted'
 'emergency' 'emergency%20plan' 'emergency%20services' 'engulfed'
 'epicentre' 'evacuate' 'evacuated' 'evacuation' 'explode' 'exploded'
 'explosion' 'eyewitness' 'famine' 'fatal' 'fatalities' 'fatality' 'fear'
 'fire' 'fire%20truck' 'first%20responders' 'flames' 'flattened' 'flood'
 'flooding' 'floods' 'forest%20fire' 'forest%20fires' 'hail' 'hailstorm'
 'harm' 'hazard' 'hazardous' 'heat%20wave' 'hellfire' 'hijack' 'hijacker'
 'hijacking' 'hostage' 'hostages' 'hurricane' 'injured' 'injuries'
 'injury' 'inundated' 'inundation' 'landslide' 'lava' 'lightning'
 'loud%20bang' 'mass%20murder' 'mass%20murderer' 'massacre' 'mayhem'
 'meltdown' 'military' 'mudslide' 'natural%20disaster'
 'nuclear%20disaster' 'nuclear%20reactor' 'obliterate' 'obliterated'
 'obliteration' 'oil%20spill' 'outbreak' 'pandemonium' 'panic' 'panicking'
 'police' 'quarantine' 'quarantined' 'radiation%20emergency' 'rainstorm'
 'razed' 'refugees' 'rescue' 'rescued' 'rescuers' 'riot' 'rioting'
 'rubble' 'ruin' 'sandstorm' 'screamed' 'screaming' 'screams' 'seismic'
 'sinkhole' 'sinking' 'siren' 'sirens' 'smoke' 'snowstorm' 'storm'
 'stretcher' 'structural%20failure' 'suicide%20bomb' 'suicide%20bomber'
 'suicide%20bombing' 'sunk' 'survive' 'survived' 'survivors' 'terrorism'
 'terrorist' 'threat' 'thunder' 'thunderstorm' 'tornado' 'tragedy'
 'trapped' 'trauma' 'traumatised' 'trouble' 'tsunami' 'twister' 'typhoon'
 'upheaval' 'violent%20storm' 'volcano' 'war%20zone' 'weapon' 'weapons'
 'whirlwind' 'wild%20fires' 'wildfire' 'windstorm' 'wounded' 'wounds'
 'wreck' 'wreckage' 'wrecked']
location
[nan 'Birmingham' 'Est. September 2012 - Bristol' ... 'Vancouver, Canada'
 'London ' 'Lincoln']
text
['Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all'
 'Forest fire near La Ronge Sask. Canada'
 "All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected"
 ...
 'Suicide bomber kills 15 in Saudi security site mosque - Reuters via World - Google News - Wall ... http://t.co/nF4IculOje'
 'Two giant cranes holding a bridge collapse into nearby homes http://t.co/STfMbbZFB5'
 'The Latest: More Homes Razed by Northern California Wildfire - ABC News http://t.co/YmY4rSkQ3d']
target
[1 0]

In [16]:
# Missing Training Data
df_train.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [17]:
# Missing Test Data

df_test.isnull().sum()

id             0
keyword       26
location    1105
text           0
dtype: int64

In [18]:
# THis is jon's notebook